
/***********************************************
* Global
***********************************************/
a,
a:hover,
a:focus {
  color: #03a9f4;
}

@media (min-width: 1200px) {
  .container {
    width: 1040px;
  }
}

.form-group {
  margin: 0;
}

.label {
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 16px;
  font-weight: 400;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.form-group.form-group-sm.label-floating label.control-label,
.form-group.form-group-sm.label-placeholder label.control-label {
  font-size: 13px;
  top: -16px;
}

.sidebar-module .categories li {
  margin: 12px auto;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}


/***********************************************
* Main
***********************************************/

.blog-content {
  padding-top: 70px;
}


/***********************************************
* Paginations
***********************************************/
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

/***********************************************
* Sidebar
***********************************************/
.sidebar-module:first-child {
  margin-top: 0;
}

.sidebar-module {
  margin: 30px auto;
}

.sidebar-module h4 {
  margin-bottom: 22px;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.sidebar-module .categories li {
  margin: 12px auto;
}


/***********************************************
* Posts
***********************************************/
.blog-post {
  margin-bottom: 30px;
}

.blog-post a {
  text-decoration: none;
}

.blog-comments-title,
.blog-post-title {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 400;
  color: #333;
}
.blog-post-meta {
  padding: 16px 22px;
  color: #999;
  display: block;
  border-bottom: 1px solid #EDEDED;
}

.blog-post-date {
  margin: 6px auto;
}

.blog-post-share {
  margin: 10px auto;
}

.blog-post-content {
  padding: 16px 22px;
}

.blog-post-content p {
  color: #999;
  margin: 18px auto;
}

.blog-post-content .btn {
  padding-left: 6px;
  padding-right: 6px;
}

.blog-post p {
  font-size: 13px;
  font-weight: 400;
}

.blog-post .panel-body {
  padding: 0;
}

.blog-post .panel > img {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.blog-comments .panel,
.blog-post .panel {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blog-comments:hover .panel,
.blog-post:hover .panel {
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
